.HeaderWrapper {
    background-color: #333;
  }
  
  .Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .Logo {
    color: #fff;
    font-size: 60px;
  }
  
  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    font-size: 24px;
  }
  
  .NavbarLink {
    padding: 10px;
    color: #eee;
    transition: transform 0.15s ease-in-out;
  }
  
  .NavbarLink:hover {
    transform: scale(1.1);
  }
  
  .ButtonContainer {
    position: relative;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
  }
  
  .ButtonContainer:hover {
    transform: scale(1.1);
  }
  
  .ButtonContainer:active {
    transform: scale(1.02);
  }
  
  .Quantity {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #ff0000;
    font-size: 20px;
    font-weight: bold;
  }
  