.ProductCardWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  font-size: 2rem;
}

.ImageContainer {
  height: 25rem;
  padding: 3rem;
  margin: 0 auto;
}

.Image {
    height: 100%;
}

.Details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  border-top: 1px solid #ccc;
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}

.Title {
  font-weight: bold;
}
